.container{
  width: 500px;
  height: 300px;
  display: flex;
  margin-top: 100px;
  margin-left: 50%;
  border: 1px solid black;
  position: relative;
  transform: translateX(-250px);
}

.container::after{
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  right: 60px;
  top: 0;
  z-index: -1;
  border: 1px dashed #ccc;
}

.container::before{
  content: '';
  width: 100%;
  height: 0;
  border: 1px dashed #ccc;
  position: absolute;
  top: 60px;
  z-index: 0;
}

.item{
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: red;
}